.html {
    margin: 0;
    padding: 0;
}

.main {
    width: 90vw;
    margin-right: 10vw;
    background-color: rgb(166, 173, 173);
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main .top {
    text-align: center;
}

hr {
    width: 96%;
}

.main h1,
.main h2,
.main h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.main .para {
    margin: 0 10px;
    text-align: left;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main .para1 {
    border: rgb(255, 251, 6);
    border-style: dotted;
    background-color: rgb(41, 99, 83);
    color: white;
}

.main .para h3 {
    text-align: left;
}

.main li {
    margin: 10px 0;
}

.main .other {
    border-style: solid;
    margin: 0px 30vw 5vw 10vw;
}

.main .other-para,
.main .other>ul,
h3 {
    margin-left: 10px;
    text-align: left;
}

.main .other p {
    margin-left: 50px;
}


/*dùng chung*/

a {
    color: teal;
}

a:hover {
    color: tomato;
}

a:active {
    color: rgb(23, 8, 46);
}


/*page comments*/

.main2,
.main3 {
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Times New Roman', Times, serif
}

.main2 .comment-para {
    margin: 0 10px;
    text-align: left;
    font-size: 16px;
}

.main2 .top {
    text-align: center;
}

.main2 li,
.main3 .inline li {
    display: inline-block;
    margin-left: 5px;
    font-size: 22px;
    font-weight: bold;
}

.main2 a,
.main3 a {
    text-decoration: none;
}


/*page references*/

.main3-top {
    margin-left: 30vh;
    text-align: center;
}

.main3-para li {
    list-style: none;
    padding: 0;
}

.main3-para h3 {
    margin-left: 10px;
}