* {
    margin: 0;
    padding: 0;
}

.main {
    width: 700px;
    background-color: rgb(54, 126, 126);
    margin: 0 auto;
    padding-left: 10px;
    color: white;
    padding-bottom: 50px;
}

.header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-logo img {
    display: block;
    margin: 0 auto;
}

ol {
    margin-left: 20px;
}

.form-row {
    margin-top: 10px;
}

.flex-row {
    display: flex;
}

.block:not(.block:first-child) {
    margin-left: 10px;
}

.option-check select {
    height: 50px;
    width: 150px;
}

.size1 {
    width: 50px;
}

.size2 {
    width: 80px;
}

.size3 {
    width: 100px;
}

.size4 {
    width: 130px;
}

.form__button {
    background-color: rgb(248, 244, 244);
    justify-content: center;
    margin: auto 5px;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.block-center {
    margin: 0 auto;
}