.main {
    line-height: 25px;
}

tr,
td {
    vertical-align: top;
}

.para-pic {
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(144, 166, 190);
    width: 30vw;
}

p {
    margin-top: 0px;
    text-align: justify;
}

.para-pic img {
    float: right;
    display: block;
}

.pic img {
    width: 100%;
    padding: 0 5px;
}

.para h4 {
    text-align: center;
    margin-top: 0;
}

.style_text {
    font-weight: bolder;
}

td {
    padding: 0px;
}

table {
    margin: 0;
    padding: 0;
}

P {
    margin: 0;
}

tr,
td {
    padding: 5px;
}