.main {
    width: 800px;
    background-color: rgb(145, 198, 248);
    margin: 0 auto;
}

.header {
    justify-content: center;
    text-align: center;
}

.medium-size {
    width: 250px;
}

.form__label {
    width: 200px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.flex-row2 {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.item {
    width: 200px;
}

label {
    padding-left: 5px;
}

.medium-width {
    width: 100px;
}

.small-width {
    width: 50px;
}

.flex>input {
    width: 30px;
    margin-left: 0;
}

.large {
    width: 60%;
    height: 100px;
}

.form__button {
    background-color: rgb(248, 244, 244);
    justify-content: center;
    margin: auto 5px;
    border-radius: 5px;
}

.block {
    margin: 0 auto;
}